public/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
public/**/*.wav filter=lfs diff=lfs merge=lfs -text
public/**/*.png filter=lfs diff=lfs merge=lfs -text
public/**/*.jpg filter=lfs diff=lfs merge=lfs -text
public/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
public/**/*.svg filter=lfs diff=lfs merge=lfs -text
public/**/*.glb filter=lfs diff=lfs merge=lfs -text
